

.voce1{
    visibility: hidden;
    font-size: 10px;
    position: relative;
    top: -58.1px;
    right: -390px;
}
.voce2{
    visibility: hidden;
    font-size: 10px;
    position: relative;
    top: -70px;
    right: -460px;
}
.voce3{
    visibility: hidden;
    font-size: 10px;
    position: relative;
    top: -81.3px;
    right: -530px;
}
.immagine{
    display: flex;
    margin: auto;
    position: relative;
    top: 23px;
    width: 400px;
}
.menu{
    display: flex;
    margin: auto;
    width: 35px;
    top: 34px;
    right: -175px;
    position: relative;
}
.description{
    color: rgba(110, 110, 110, 1);;
    font-weight: bold;
    place-content: center;
    display: flex;
    position: relative;
    top: 32px;
    right: 157px;
    font-size: 8px;
}
.testo1{
    position: relative;
    place-content: center;
    display: flex;
    font-weight: bold;
    color:  rgba(44, 44, 44, 1);
    top: 32px;
    right: 70px;
}

.descrizione1{
    display: grid;
    grid-auto-rows: 90px;
    grid-template-columns: 400px;
    align-self: center;
    place-content: center;
}
.testodesc1{
    background-color: rgb(255, 255, 255);
    text-align: justify;
    position: relative;
    top: 40px;
    align-content:top; 
    color: rgba(110, 110, 110, 1);
}
.testodesc2{
    background-color: rgb(255, 255, 255);
    text-align: justify;
    position: relative;
    top: 70px;
    align-content:top; 
    color: rgba(110, 110, 110, 1);
}
.testo2{
    display: flex;
    place-content: center;
    position: relative;
    top: 32px;
    right: -281px;
    color: rgba(110, 110, 110, 1);;
    font-weight: bold;
}
.description2{
    color: rgba(110, 110, 110, 1);;
    font-weight: bold;
    place-content: center;
    display: flex;
    position: relative;
    top: 90px;
    right: 178px;
    font-size: 8px;
}

.description3{
    color: #1473E6;
    font-weight: bold;
    place-content: center;
    display: flex;
    position: relative;
    top: 61.5px;
    right: -160px;
    font-size: 8px;
}
.immagine2{
    display: flex;
    margin: auto;
    position: relative;
    top: 93px;
    width: 400px;
}
.description4{
    color: rgba(110, 110, 110, 1);;
    font-weight: bold;
    place-content: center;
    display: flex;
    position: relative;
    top: 112px;
    right: 157px;
    font-size: 8px;
}
.testo3{
    position: relative;
    place-content: center;
    display: flex;
    font-weight: bold;
    color:  rgba(44, 44, 44, 1);
    top: 130px;
    right: 166px;
}
.testodesc3-container{
    align-self: center;
    place-content: center;
    visibility: visible;
    grid-auto-rows: 90px;
    grid-template-columns: 400px;
    display: grid;
    background-color: rgb(255, 255, 255);
}
.testodesc3{
    background-color: rgb(255, 255, 255);
    text-align: justify;
    position: relative;
    top: 134px;
    align-content:top; 
    color: rgba(110, 110, 110, 1);
}
.description5{
    color: rgba(110, 110, 110, 1);;
    font-weight: bold;
    place-content: center;
    display: flex;
    position: relative;
    top: 122px;
    right: 180px;
    font-size: 8px;
}
.description6{
    color: #1473E6;
    font-weight: bold;
    place-content: center;
    display: flex;
    position: relative;
    top: 90px;
    right: -160px;
    font-size: 8px;
}

.immagine3{
    display: flex;
    margin: auto;
    position: relative;
    top: 113px;
    width: 400px;
}

.description7{
    color: rgba(110, 110, 110, 1);;
    font-weight: bold;
    place-content: center;
    display: flex;
    position: relative;
    top: 132px;
    right: 157px;
    font-size: 8px;
}
.testo4{
    position: relative;
    place-content: center;
    display: flex;
    font-weight: bold;
    color:  rgba(44, 44, 44, 1);
    top: 140px;
    right: 152px;
}
.container-description4{
    align-self: center;
    place-content: center;
    visibility: visible;
    grid-auto-rows: 90px;
    grid-template-columns: 400px;
    display: grid;
    background-color: rgb(255, 255, 255);

}
.testodesc4{
    background-color: rgb(255, 255, 255);
    text-align: justify;
    position: relative;
    top: 144px;
    align-content:top; 
    color: rgba(110, 110, 110, 1);
}
.description8{
    color: rgba(110, 110, 110, 1);;
    font-weight: bold;
    place-content: center;
    display: flex;
    position: relative;
    top: 132px;
    right: 178.5px;
    font-size: 8px;
}

.description9{
    color: #1473E6;
    font-weight: bold;
    place-content: center;
    display: flex;
    position: relative;
    top: 103.5px;
    right: -160px;
    font-size: 8px;
}
.immagine4{
    display: flex;
    margin: auto;
    position: relative;
    top: 123px;
    width: 400px;
}
.testodesc7{
    color: rgba(110, 110, 110, 1);;
    font-weight: bold;
    place-content: center;
    display: flex;
    position: relative;
    top: 130px;
    right: 153px;
    font-size: 8px;
}
.testo5{
    position: relative;
    place-content: center;
    display: flex;
    font-weight: bold;
    color:  rgba(44, 44, 44, 1);
    top: 140px;
    right: 152px;
}
.testodesc5-container{
    align-self: center;
    place-content: center;
    visibility: visible;
    grid-auto-rows: 90px;
    grid-template-columns: 400px;
    display: grid;
    background-color: rgb(255, 255, 255);
}
.testodesc5{
    background-color: rgb(255, 255, 255);
    text-align: justify;
    position: relative;
    top: 144px;
    align-content:top; 
    color: rgba(110, 110, 110, 1);
}
.description11{
    color: rgba(110, 110, 110, 1);;
    font-weight: bold;
    place-content: center;
    display: flex;
    position: relative;
    top: 132px;
    right: 180px;
    font-size: 8px;
}

.description10{
    color: #1473E6;
    font-weight: bold;
    place-content: center;
    display: flex;
    position: relative;
    top: 103.5px;
    right: -160px;
    font-size: 8px;
}
.spazio{
    display: grid;
    grid-auto-rows: 40px;
    grid-template-columns: 90px;
    align-self: center;
    place-content: center;
}
.spaziotext{
    background-color: rgb(255, 255, 255);
    text-align: justify;
    position: relative;
    top: 110px;
    align-content:top; 
    color: rgba(110, 110, 110, 1);
}
